# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Actual config files
maxctrl_exporter.yaml

# IDE specific files
.idea/
.vscode/

# binaries and depndencies
vendor/
maxctrl_exporter
bin/linux/maxctrl_exporter
bin/
